h3{color:#DFF3E6;
text-decoration: underline;
font-weight:bold;
padding-top:2em;
padding-left:1em;
padding-bottom:2em;
}
img.left
{
	padding:10px;
	width:90%;
	height:20em;
}
figure.fig{
	float:left;
	width:50%;
}
figcaption{
	display:block;
	color:salmon;
	font-weight:bold;
}
hr{clear:both;}
section#continut hr{
	padding-top:2px;
}